<style scoped>
.canvasBox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}
#canvas {
  height: 100%;
}

video#myVideo {
  position: fixed;
  /* top: 50%;
  left: 50%; */
  min-width: 100%;
  min-height: 100%;
  /* width: 120%; */
  height: 100%;
  z-index: 999;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  background-size: cover;
}
</style>

<template>
  <div
    class="canvasBox"
    :style="
      `
      height: ${canvasBoxHeight};
      width: ${canvasBoxWidth};`
    "
  >
    <!-- <b-row id="videoWrapper">
      <video
        id="myVideo"
        controls
        autoplay
        src="/OBR3-opening.mp4"
        style="z-index:999;"
        v-if="isFinish"
      ></video>
    </b-row> -->
    <canvas id="canvas"></canvas>
  </div>
</template>

<script>
import { Howl } from "howler";
import $ from "jquery";
// import screenfull from "screenfull";
export default {
  props: ["boxHeight", "boxWidth"],
  data() {
    return {
      width: window.innerWidth,
      height: 490,
      seedAmount: 0,
      seeds: [],
      particles: [],
      auto: true,
      isFinish: false,
    };
  },
  computed: {
    canvas() {
      return document.getElementById("canvas");
    },
    ctx() {
      if (this.canvas !== undefined) {
        return this.canvas.getContext("2d");
      }

      return null;
    },
    canvasBoxHeight() {
      return this.boxHeight || "100%";
    },
    canvasBoxWidth() {
      return this.boxWidth || "100%";
    },
  },
  methods: {
    // playSound(sound) {
    //   if (sound) {
    //     var audio = new Audio(sound);
    //     audio.play();
    //   }
    // },
    fullScreen() {
      var videoElement = document.getElementById("videoPlayer");
      console.log("videoElement=> ", videoElement);
      if (document.fullscreenEnabled) {
        if (videoElement.requestFullscreen) {
          videoElement.requestFullscreen();
        } else if (videoElement.mozRequestFullScreen) {
          /* Firefox */
          videoElement.mozRequestFullScreen();
        } else if (videoElement.webkitRequestFullscreen) {
          /* Chrome, Safari and Opera */
          videoElement.webkitRequestFullscreen();
        } else if (videoElement.msRequestFullscreen) {
          /* IE/Edge */
          videoElement.msRequestFullscreen();
        }
      } else {
        console.log("Your browser cannot use fullscreen right now");
      }
    },
    clearCanvas() {
      if (this.ctx !== undefined) {
        this.ctx.fillStyle = "rgba(0, 0, 0, 0.1)";
        this.ctx.fillRect(0, 0, this.width, this.height);
      }
    },
    circle(x, y, radius) {
      if (this.ctx !== undefined) {
        this.ctx.beginPath();
        this.ctx.arc(x, y, radius, 0, 2 * Math.PI);
        this.ctx.closePath();
      }
    },
    loop() {
      if (this.ctx !== undefined) {
        this.clearCanvas();
        this.ctx.globalCompositeOperation = "lighter";

        for (let i = 0; i < this.seeds.length; i += 1) {
          if (!this.seeds[i].dead) {
            this.seeds[i].move();
            this.seeds[i].draw();
          } else {
            this.seeds.splice(i, 1);
          }
        }

        for (let i = 0; i < this.particles.length; i += 1) {
          if (!this.particles[i].dead) {
            this.particles[i].move();
            this.particles[i].draw();
          } else {
            this.particles.splice(i, 1);
          }
        }

        if (this.auto && this.seedAmount % 40 === 0) {
          const seed = this.Seed(
            this.randomInt(20, this.width - 20),
            this.height - 20,
            this.randomInt(175, 185),
            [this.randomInt(0, 359), "100%", "50%"]
          );
          this.seeds.push(seed);
        }

        this.ctx.globalCompositeOperation = "destination-out";
        requestAnimationFrame(this.loop);
        this.seedAmount += 1;
      }
    },
    Seed(x, y, angle) {
      const self = this;
      const acceleration = 0.05;
      const radius = 3;
      const h = 180;
      const s = "100%";
      const l = "95%";
      const finalColor = `hsla(${h}, ${s}, ${l}, 1)`;

      const dead = false;
      const fireSeed = {};
      let speed = 2;

      fireSeed.x = x;
      fireSeed.y = y;
      fireSeed.move = () => {
        if (fireSeed.y > self.randomInt(100, 200)) {
          speed += acceleration;
          fireSeed.x += speed * Math.sin((Math.PI / 180) * angle);
          fireSeed.y += speed * Math.cos((Math.PI / 180) * angle);
        } else if (!dead) {
          fireSeed.explode();
          fireSeed.dead = true;
        }
      };
      fireSeed.draw = () => {
        self.ctx.fillStyle = finalColor;
        self.circle(fireSeed.x, fireSeed.y, radius);
        self.ctx.fill();
      };
      fireSeed.explode = () => {
        for (let i = 0; i < 359; i += 4) {
          const particle = self.Firework(
            fireSeed.x,
            fireSeed.y,
            i + self.randomInt(-200, 200) / 100,
            [h, s, l]
          );
          self.particles.push(particle);
        }
      };
      fireSeed.dead = dead;
      return fireSeed;
    },
    Firework(x, y, angle, color) {
      const self = this;
      const fireSeed = {};
      const angleOffset = self.randomInt(-20, 20) / 100;
      const radius = 1;
      const acceleration = -0.01;
      const gravity = 0.01;

      let opacity = 1;
      let finalColor = `hsla(${color[0]}, ${color[1]}, ${color[2]}, ${opacity})`;
      let verticalSpeed = 0;
      let speed = self.randomInt(195, 205) / 100;
      let targetAngle = angle;
      let positionX = x;
      let positionY = y;
      fireSeed.dead = false;
      fireSeed.move = () => {
        if (opacity > 0) {
          if (speed > 0) {
            speed += acceleration;
          }

          targetAngle += angleOffset;
          opacity -= 0.005;
          finalColor = `hsla(${color[0]}, ${color[1]}, ${color[2]}, ${opacity})`;
          verticalSpeed += gravity;
          positionX += speed * Math.sin((Math.PI / 180) * targetAngle);
          positionY +=
            speed * Math.cos((Math.PI / 180) * targetAngle) + verticalSpeed;
        } else if (!fireSeed.dead) {
          fireSeed.dead = true;
        }
      };
      fireSeed.draw = () => {
        self.ctx.fillStyle = finalColor;
        self.circle(positionX, positionY, radius);
        self.ctx.fill();
      };

      return fireSeed;
    },
    randomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    },
    init() {
      this.canvas.width = this.width;
      this.canvas.height = this.height;
    },
  },
  mounted() {
    // this.playSound("../assets/firework.mp3");
    $(".exhaust-fumes").hide();
    // $("#myVideo").hide();

    setTimeout(() => {
      const fireWork = new Howl({
        volume: 0.4,
        src: ["firework.mp3", "/firework.mp3"],
      });
      fireWork.play();

      // const congrats = new Howl({
      //   src: ["congratulations.mp3", "/congratulations.mp3"],
      // });
      // congrats.play();
      // var that = this;
      // fireWork.on("end", function() {
      //   console.log("congratulation finished");
      //   // $("#canvasBox").hide();
      //   that.isFinish = true;
      //   console.log("isFinish", that.isFinish);
      //   // $("#canvas").hide();
      //   // $("#app").replaceWith($("#myVideo"));
      //   // $("#myVideo").show();
      //   // that.fullScreen();

      //   // fireWork.play();
      //   // $("body").css();
      //   // this.isFinish = true;
      //   // $("body").fadeOut(500, function() {
      //   //   window.location.href = "https://www.registrationservices.gov.kh/";
      //   // });
      // });
    }, 1000);

    const self = this;
    self.init();
    self.loop();
    window.addEventListener("click", (event) => {
      const seed = self.Seed(
        event.pageX,
        event.pageY,
        self.randomInt(175, 185),
        [self.randomInt(0, 359), "100%", "50%"]
      );
      self.seeds.push(seed);
    });
    window.addEventListener("resize", () => {
      self.width = window.innerWidth;
      self.height = window.innerHeight;
      self.canvas.width = self.width;
      self.clearCanvas();
    });
  },
  watch: {
    isFinish: function(value) {
      console.log("watch isFinish ", value);
      if (value) {
        console.log("iffff");

        // $("#canvas").hide();
        // $("#myVideo").requestFullscreen();
        // $("#app").replaceWith($("#myVideo"));

        // $("#myVideo").show();
        // $("body").fadeOut(1500, function() {
        //   window.location.href = "https://www.registrationservices.gov.kh/";
        // });
      }
    },
  },
};
</script>
