<template id="rocket">
  <b-container id="pageWrapper" fluid class="rocket-wrap justify-content-center align-items-center"
    :class="{ fly: flying }" @click="requestFullScreen()">
    <!-- <transition name="fade" v-if="showParcel">
      <firework :boxHeight="'100%'" :boxWidth="'100%'" />
    </transition> -->





    <div class="vertical-center">
      <!-- <h1>{{ showParcel }}</h1> -->
      <b-row>
        <b-col sm="12"> <b-img fluid src="/assets/images/logo/rgc_transparent.png" id="rgcLogo" class="mt-2" width="180px"
            height="180px"></b-img></b-col>
      </b-row>
      <b-row style="margin-top:8rem">

        <b-col sm="12">
          <b-img fluid src="/assets/images/button_launching_red_1.png" alt="Image 2" width="450px" height="450px"
            style="cursor:pointer" id="btnLaunch" v-on:click="launchRocket" @mouseover="hover" @mouseout="unhover"
            @mousedown="mouseDown"></b-img>
        </b-col>
      </b-row>

      <!-- <button @click="show = !show">Toggle render</button> -->
    </div>


    <div class="galaxy">
      <!-- df6421 -->
      <vue-particles color="#dedede" :particleOpacity="0.7" :particlesNumber="150" shapeType="circle" :particleSize="5"
        linesColor="#17a2b8" :linesWidth="2" :lineLinked="true" :lineOpacity="1" :linesDistance="100" :moveSpeed="2"
        :hoverEffect="true" hoverMode="grab" :clickEffect="true" clickMode="repulse">
      </vue-particles>


      <!-- <div v-for="(field, key) in space" :class="key" class="field" :key="key">
        <div v-for="(distanceLayer, key) in field" class="distance-layer" :class="key" :key="key">
          <div v-for="(star, index) in distanceLayer" :key="index" class="star"
            :style="'top:' + star.top + 'px;left:' + star.left + 'px;'"></div>
        </div>
      </div> -->

    </div>

    <transition name="fade" >
      <logo id="logo" class="vertical-center-logo"></logo>
    </transition>
  </b-container>
</template>

<script>
import Vue from "vue";
// import timeline from "./TimeLine";
import logo from "./Logo";
// import firework from "./Firework";
import $ from "jquery";
import { Howl } from "howler";
import screenfull from "screenfull";

export default Vue.component("rocket", {
  template: "#rocket",
  components: {
    // timeline,
    logo,
    // firework,
  },
  data() {
    return {
      flying: null,
      start: null,
      counting: null,
      countdown: 3,
      space: {},
      show: false,
      showParcel: false,
      showVideo: false,
      flameShow: false,
      videoOptions: {
        autoplay: true,
        controls: true,
        sources: [
          {
            src: "/OBR3-opening.mp4",
            type: "video/mp4",
          },
        ],
      },
      sound: new Howl({
        src: ["Opening.mp3", "/Opening.mp3"],
        loop: true,
        volume: 0.4,
        format: ["mp3", "aac"],
        html5: false,
      })
    };
  },
  computed: {
    lineOpacity: function () {
      if (this.showParcel) {
        return 1.0
      } else {
        return 0.0
      }

    }
  },
  methods: {
    requestFullScreen() {
      if (screenfull.isEnabled) {
        console.log("screen full enabled");
        screenfull.request();
      }
    },
    mouseDown(e) {
      const element = e.currentTarget;
      // console.log("ele=> ", element);
      element.setAttribute("src", "/assets/images/button_launching_red_2.png");
    },
    hover(e) {
      const element = e.currentTarget;
      // console.log("ele=> ", element);
      element.setAttribute("src", "/assets/images/button_launching_red_2.png");
      const clickSound = new Howl({
        src: ["click_1.mp3", "/click_1.mp3"],
        format: ["mp3", "aac"],
        html5: false,
      });
      clickSound.play();
    },
    unhover(e) {
      const element = e.currentTarget;
      // console.log("ele=> ", element);
      element.setAttribute("src", "/assets/images/button_launching_red_1.png");
    },
    launchRocket() {
      const clickSound = new Howl({
        src: ["click_2.mp3", "/click_2.mp3"],
        // format: ["wav"],
        format: ["mp3", "aac"],
        html5: false,
      });
      clickSound.play();


      var that = this;
      that.showParcel = true;
      // that.sound.play();

      $(".vertical-center").fadeOut(1000, function () {
        // that.sound.fade(1.0, 0.0, 10000)
        $("#logo").fadeIn(1000)
        // $("#btnLaunch").fadeOut(1000, function() {
        // $("#rgcLogo").fadeOut(1000,function(){
        //   $("#logo").fadeIn(1000)
        // });

      });

    },

  },
  mounted() {
    // $(".rocket").hide();
    $("#logo").hide();
    this.sound.play()
  },
  watch: {
    flying: function (value) {
      if (value) {
        $("#rgcLogo").fadeOut(1000);
        let window_height = window.innerHeight + this.$refs.rocket.clientHeight;
        this.$refs.rocket.style.transform = `translate(-50%, -${window_height *
          2}px)`;

        // console.log(this.$refs.rocket.style);
        // console.log(window.innerHeight);

        let trackRocket = setInterval(() => {
          let rect = this.$refs.rocket.getBoundingClientRect();
          let bottom = rect.bottom;
          if (bottom < 0) {
            this.flying = false;
            this.flameShow = false;
            this.showVideo = true;
            this.$refs.rocket.style.background = `linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1))`;
            $(".rocket").hide();
            $('.exhaust-fumes').hide()
            clearInterval(trackRocket);
            this.sound._stopFade()
          }
          // console.log(bottom, window_height);
        }, 500);
      }
      // console.log(value);
    },
  },
});

// new Vue({
//   el: '#app'
// });
</script>
<style lang="scss">
//
video#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  background-size: cover;
}

//

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

//
.fade-enter-active,
.fade-leave-active {
  transition: opacity 3s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

@import url("https://fonts.googleapis.com/css?family=Martel+Sans:700");

.vertical-center {
  z-index: 2;
  position: absolute;
  // margin-top: 25rem;
  // margin-left:auto;
  // margin-right:auto;

  top: calc(50% - 25rem);
  left: calc(50% - 15rem);
  // left: 43.5%;
}

.vertical-center-logo{
  z-index: 2;
  position: absolute;
  // margin-top: 25rem;
  // margin-left:auto;
  // margin-right:auto;

  top: 0
  // left: calc(50% - 15rem);
}

#btnLaunch {
  font-size: 50px;
}

// html,
// body {}

html,
body 
 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/bg launching 2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes fadeIn {
  0% { opacity: 0.5;  }
  // 0%{opacity: 0.25;}
  // 10% {opacity: 0.5;}
  // 25% {opacity: 0.75;}
  // 30% {opacity: 0.5;}
  // 25% {opacity: 0.5;}
  100% { opacity: 1; }
  // 0% {
  //   transform: scale(0.5, 0.5);
  // }
  // // 50% {
  // //   transform: scale(0.75, 0.75);
  // // }
  // 100% {
  //   transform: scale(1, 1);
  // }

  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

</style>
