<template id="logo">
  <b-container fluid class="justify-content-center align-items-center mb-5">
    <b-row>
      <b-col sm="12">
        <b-img
          fluid
          src="/assets/images/OBR3_Launching_No_BG.png"
          class="mt-2"
        
        ></b-img>
      </b-col>
    </b-row>
   
   

  </b-container>
</template>

<script>
import Vue from "vue";
export default Vue.component("logo", {
  name: "logo",
  template: "#logo",
  data() {
    return {
      mainProps: {
        blank: true,
        blankColor: "#777",
        width: 75,
        height: 75,
        class: "m1",
      },
    };
  },
});
</script>
