<template>
  <div id="app">
    <!-- <particles-bg type="random" :bg="true" /> -->
    <Launching />
  </div>
</template>
<script>
import Launching from "./components/Launching.vue";

// import Firework from "./components/Firework.vue";

export default {
  name: "App",
  components: {
    Launching,
    // Firework
  },
};
</script>

<style>
@font-face {
  font-family: "hanuman-regular";
  src: url("../public/assets/fonts/Hanuman-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hanuman-bold";
  src: url("../public/assets/fonts/Hanuman-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mef-regular";
  src: url("../public/assets/fonts/KHMERMEF1.ttf");
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: "mef-bold";
  src: url("../public/assets/fonts/KHMERMEF2.ttf");
  /* font-weight: bolder; */
  font-style: normal;
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  text-align: center;
  /* color: #2c3e50; */
  height: 100vh;
  width: 100%;
}
</style>
